      <!-- Main Footer -->
      <footer class="main-footer">
        <strong>Copyright &copy; 2022-2023 <a href="{% url 'index' %}">Library</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <a class="text-danger" href="{% url 'index' %}"><i class="fab fa-lg fa-youtube"></i></a>
            <a href="{% url 'index' %}"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
            <a class="text-warning" href="{% url 'index' %}"><i class="fab fa-lg ml-1 fa-instagram"></i></a>
        </div>
      </footer>